/*faezehjafari*/

.cantacts-box {
    background-color: #ffffff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.06);
    border-radius: 5px;

}

.cantacts-box .f-text {

    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.55;
    letter-spacing: normal;
}

.i-img {
    width: 29px;
    height: 29px;
}

.t-text {

    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: normal;
    text-align: right;
    margin-bottom: 100px;
}

.item-right {
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.28);
}


.l-text {

    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: normal;
    text-align: right;
    color: #4a4a4a;
}

.my-btn {
    color: #ffffff;
    border-radius: 5px;
    min-width: 235px;
    max-width: 235px;
}

.i-chat {
    width: 55px;
    height: 55px;
}

.ttext {

    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.06;
    letter-spacing: normal;
    text-align: left;
    color: #494949;
}

.resend-btn {
    border-radius: 5px;
    opacity: 0.5;
    background-color: #666;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: 0.45px;
    text-align: center;
    color: #fff;
}

.title {
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.9;
    letter-spacing: normal;
    text-align: right;
    color: #232323;
}

.timeline {
    position: relative;
    margin-right: auto;
    width: 85%;
    margin-top: 17px;
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: normal;
    text-align: right;
    color: #4a4a4a;

}
.timeline::after {
    content: '';
    position: absolute;
    height: 5px;
    background-color: rgba(98, 0, 238, 0.1);
    top: 0;
    bottom: 0;
    width:100% ;
    margin-bottom: 50px;

}
.level1::after{
    content: '';
    position: absolute;
    width: 19px;
    height: 19px;
    right: 91px;
    background-color:#6200ee;
    top: -7px;
    border-radius: 50%;
    z-index: 1;
}
.circle{
    position: absolute;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    top: -29px;
    right: 68px;
    background-color: rgba(98, 0, 238, 0.1);


}
.full-line{
    position: absolute;
    height: 5px;
    background-color:#6200ee ;
    top: 0;
    right: 0;
    bottom: 0;
    width:92px ;
    margin-bottom: 50px;
}
.timeline-con{
    padding-top: 50px;
    padding-bottom: 23px;
    width: 93%;
    margin: 0 auto;
}

@media screen and (max-width: 992px) {
    .title{
        display: none;
    }
    .timeline{
        margin:auto;
    }
}


@media screen and (max-width: 600px){

    .timeline{
        font-size: 10px;
    }
    .item-right{

    }
    .btns{
        flex-direction: column;
        align-items: center;
    }
    .my-btn{
        margin-bottom: 1rem;
        padding: 9px 0;
    }
    .i-chat{
        margin-right: 0!important;
    }
    .cancel-btn{
        margin-left: 22px;
    }
    .text-con{
        margin-top: 1rem;
    }
    .resend-btn{
        font-size: 10px;
    }

}
/*faezehjafari*/