/*start-notification*/
* {
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 4px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    background-color: #0000004C;
    border: 2px solid #555555;
}

.container-notification .container-title {
    background-color: #0148c6;
}

.header-titles {
    color: #ffffff;
    border-radius: 0 5px 0 0;
    height: 40px;
    padding-top: 15px;
    padding-left: 30px;
    margin-right: 0;
}

.line {
    width: 150px;
    height: 1px;
    margin: 10px 10px;
    background-color: #fff;
}

.btn-delete {
    background-color: white;
    color: #1c2426;
    padding: 5px;
    border-radius: 25px;
    margin-top: -2px;
    height: 27px;
    font-size: 13px;
    letter-spacing: -0.6px;
}

.header-title {
    color: #ffffff;
    height: 40px;
    padding-top: 15px;
    padding-left: 30px;
    font-size: 15px;
    margin-right: 0;
    position: relative;
    box-shadow: 0 14px 10px -12px grey;
}

.container-notification {
    border-radius: 5px;
    right: 0;
    box-shadow: 2px 2px 8px #8080806b;
    position: fixed;
    top: 65px;
    bottom: 0;
}

.announcements {
    height: 100%;
    margin: 0;
}

.announcements ul {
    background-color: #ffffff;
    width: 420px;
    height: calc(100% - 80px);
    overflow: auto;
}

.icon-img-notif {
    margin-left: 25px !important;
    float: left !important;
}

.img-success {
    width: 48px;
    height: 48px;
    padding: 10px 10px 10px 10px;
    margin-right: 25px;
    background-color: #00ffbe26;
    float: right;
}

.img-primary {
    width: 48px;
    height: 48px;
    padding: 10px 10px 10px 10px;
    margin-right: 25px;
    background-color: #0003ff3b;
    float: right;
}

.img-danger {
    width: 48px;
    height: 48px;
    padding: 10px 10px 10px 10px;
    margin-right: 25px;
    background-color: #ff0c003d;
    float: right;
}

.title {
    padding-top: 13px;
    padding-left: 25px;
    margin-top: 10px;
    margin-left: 70px;
    line-height: normal;
    color: #1c2426;
    font-size: 14px;
}

.test {
    color: #000000;
    font-weight: bold;
}

.date {
    padding-right: 25px;
    color: #1c2426;
    font-size: 12px;
    line-height: 2.31;
    letter-spacing: -0.65px;
}

.dates {
    padding-right: 25px;
    margin-right: 70px;
    color: #1c2426;
    font-size: 12px;
    line-height: 2.31;
    letter-spacing: -0.65px;
}

.confirm {
    color: #2f31d0;
    font-weight: bold;
}

.rejected {
    color: #f66b64;
    font-weight: bold;
}

hr {
    margin-left: auto;
    margin-right: auto;
}

.container-notification .active::after {
    content: "";
    margin-top: 4px;
    display: flex;
    transform: translateY(-50%);
    height: 3px;
    background-color: #54e9c3;
}

.pointer {
    cursor: pointer;
}

/*end-notification*/

/*start-navigation*/
.owl-button {
    text-align: left;
}

.owl-next {
    margin-left: 5px;
}

.owl-button button {
    color: #000;
    background-color: #fff;
    padding: 8px 16px;
    border: 1px solid #ddd;
}

.owl-button button:hover {
    background-color: #ddd;
}

.cart-currency {
    box-shadow: 0 0 20px #0000000d;
}

.owl-stage-outer {
    margin-top: 20px;
}

.owl-theme .owl-dots, .owl-theme .owl-nav {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}

.owl-nav {
    display: none;
}

.owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #869791;
}

.owl-dots .owl-dot.active span {
    width: 23px !important;
    height: 4px !important;
    background-color: #00d0df !important;
}

.owl-dots {
    margin-top: 0.4rem;
    margin-bottom: 0.5rem;
}

.owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #D6D6D6;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 30px;
}

.owl-dots .owl-dot span {
    -webkit-transition: 0.5s ease !important;
    -o-transition: 0.5s ease !important;
    transition: 0.5s ease !important;
    width: 4px !important;
    height: 4px !important;
}

@media only screen and (max-width: 800px) {
    .owl-button {
        display: none;
    }
}

@media only screen and (min-width: 800px) {
    .owl-dots {
        display: none;
    }
}

/*end-navigation*/


/*start withdrow-currency-list*/
.transaction__btn {
    border-radius: 5px;
    height: 40px;
}

.d-flex {
    border-radius: 5px;
}

.custom-selected {
    border-radius: 5px;
}

.transaction__value-right {
    border-radius: 0 5px 5px 0;
}

.transaction__value-left {
    border-radius: 5px 0 0 5px;
}

.date-right {
    border-radius: 0 5px 5px 0;
}

.date-left {
    border-radius: 5px 0 0 5px;
}

.address {
    border-radius: 5px;
}

.arrow {
    width: 30px;
}

.right-align {
    float: right;

}

.left-align {
    float: left;
}

.attention-Warning {
    padding-left: 0 !important;
}

.wallet-table tr:first-child th div {
    padding: 25px;
}

.wallet-table td {
    padding: 25px;
}

.attention {
    border: 1px solid red;
    border-radius: 15px;
    padding: 2px 10px;
    font-weight: 900;
    margin-right: 5px;
}

/*end withdrow-currency-list*/

/*start user-list*/

@media screen and (min-width: 768px) {
    .user-list .btn-filters {
        display: none;
    }

    .user-list .filter-btn {
        display: none;
    }

    .user-list .up-animation {
        z-index: 1 !important;
        position: relative;
    }

    .user-list .modal-content {
        border: none;
    }

    .user-list .modal-header {
        display: none;
    }

    .user-list .fixed-bottom {
        position: relative;
    }

    .user-list .modal {
        height: auto;
    }
}

@media only screen and (max-width: 992px) {
    .user-list .one, .two {
        width: 50% !important;
        padding-left: 4px;
        padding-right: 4px;
    }
}

@media screen and (max-width: 768px) {
    .user-list .last-input {
        margin-bottom: 3rem;
    }

    .user-list .transaction__btn2 {
        height: 50px;
        align-items: center;
        background-color: #54e9c3;
        text-align: center;
        color: #000;
        border-radius: 0;
        margin-right: 0;
    }

    .user-list .transaction-table-container {
        padding: 20px !important;
    }
}

.user-list .transaction__btn2 {
    padding: 20px 40px;
    margin-top: 3.5rem !important;
    margin-left: 40px;
    border-radius: 5px;
    background-color: #54e9c3;
    color: #fff;
    margin-right: 0;
}

.user-list .up-animation {
    z-index: 2147483647;
}

.user-list .filter-btn {
    background: #8d8d8d38;
    padding: 10px 15px;
    border-radius: 6px;
}

.user-list .modal-content {
    padding: 0
}

.user-list .header-transaction select, .header-transaction input {
    height: 40px;
    border-radius: 4px;
}

.user-list .selection {
    padding-left: 90px !important;
}

.user-list .btn-registry {
    padding: 20px 40px;
    margin-right: 3px;
    border-radius: 5px;
    background-color: #54e9c3;
    color: #fff;
}

.user-list .name {
    font-size: 14px;
    font-weight: 600;
}

.user-list .gmail-national-code {
    font-size: 16px;
    font-weight: 700;
}

.user-list .flat {
    white-space: nowrap;
}

.user-list .confirmed {
    border: 2px solid #2f31d0 !important;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 600;
    color: #000;
    padding: 5px 21px;
}

.user-list .failed {
    border: 2px solid #f66b64 !important;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 600;
    color: #000;
    padding: 5px 30px;

}

.user-list .pending {
    border: 2px solid #54e9c3 !important;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 600;
    color: #000;
    padding: 5px 14px;
}

.user-list .selectors {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
    border-radius: 0.2rem;
}

.user-list .style-option {
    background: #fff;
    color: #000;
}

.user-list .time {
    display: block;
}

.user-list .code {
    padding-right: 1.3rem;
}

.user-list .header {
    padding-left: 1rem;
    text-align: center;
}

.user-list .btn-group {
    float: left;
}

.user-list .btn-dropdown {
    width: 143px;
}

.user-list .dropdown-menu {
    text-align: right;
    letter-spacing: -1px;;
    font-size: 13px;
    min-width: 9rem;
    cursor: pointer;
    z-index: 0;
}

.user-list .operations-btn {
    background-color: #54e9c3;
    color: #fff;
    padding: 5px 28px;
    border-radius: 5px;
}

.user-list .authentication-btn {
    background-color: #54e9c3;
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
}

.user-list .user-code {
    padding-left: 1rem;
    text-align: center;
}

.user-list .button-success {
    float: left;
}

.user-list .pagination {
    display: inline-block;
    float: left;
}

.user-list .pagination a {
    color: #777777;
    background-color: #f8f8fa;
    float: left;
    padding: 5px 14px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 0 4px;
}

.user-list .pagination a.active {
    background-color: #54e9c3;
    color: white;
    border: 1px solid #54e9c3;
}

.user-list .pagination a:hover:not(.active) {
    background-color: #ddd;
}

.user-list .choices {
    display: inline-block;
}

.user-list .card {
    -webkit-box-shadow: 0 0 20px #0000001e;
    box-shadow: 0 3px 20px #0000001e;
    background-color: #fff;
}

.user-list .card-body {
    text-align: center;
}

.user-list .card-text {
    display: contents;
}

.user-list .pdf-image {
    padding-right: 5px;
    width: 21px;
}

.user-list .excel-image {
    padding-right: 5px;
    width: 26px;
}

.user-list .btn-pdf {
    object-fit: contain;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.23);
    background-color: #fff;
    padding: 2px 5px;
    color: #000;
}

.user-list .btn-exel {
    object-fit: contain;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.23);
    background-color: #fff;
    padding: 2px 5px;
    color: #000;
}

.user-list .pdf-text, .exel-text {
    font-size: 15px;
    color: #000 !important;
}

@media screen and (max-width: 800px) {
    .user-list .pdf-exel {
        padding-top: 5.3rem !important;
        margin-right: 0 !important;
    }
}

/*end user-list*/

/*start-requests-withdrawal*/

@media screen and (max-width: 768px) {
    .requests-withdrawal .last-input {
        margin-bottom: 3rem;
    }
}

.requests-withdrawal .title-header {
    font-size: 15px;
    font-weight: 600;
}

.requests-withdrawal .withdraw-rls {
    font-size: 15px;
    font-weight: 700;
}

.requests-withdrawal .withdraw-rls-topbtn {
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.requests-withdrawal .pagination {
    display: inline-block;
    float: left;
}

.requests-withdrawal .pagination a {
    color: #777777;
    background-color: #f8f8fa;
    float: left;
    padding: 5px 14px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 0 4px;
}

.requests-withdrawal .pagination a.active {
    background-color: #54e9c3;
    color: white;
    border: 1px solid #54e9c3;
}

.requests-withdrawal .choices {
    display: inline-block;
}

.requests-withdrawal .btn-pdf {
    object-fit: contain;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 23%);
    background-color: #fff;
    padding: 2px 5px;
    color: #000;
}

.requests-withdrawal .pdf-image {
    padding-right: 5px;
    width: 21px;
}

.requests-withdrawal .btn-exel {
    object-fit: contain;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 23%);
    background-color: #fff;
    padding: 2px 5px;
    color: #000;
}

.requests-withdrawal .excel-image {
    padding-right: 5px;
    width: 26px;
}

@media screen and (max-width: 800px) {
    .requests-withdrawal .pdf-exel {
        padding-top: 5.3rem !important;
        margin-right: 0 !important;
    }
}

.requests-withdrawal .attention {
    color: red;
    border: 1px solid red;
    border-radius: 15px;
    padding: 4px 10px 0 10px;
    margin: 10px 0 10px 5px;
    font-weight: 600;
    cursor: help;
}

/*end-requests-withdrawal*/

.header-transaction select, .header-transaction input {
    height: 40px;
    border-radius: 4px;
}

.selection {
    padding-left: 90px !important;
}

.btn-registry {
    padding: 8px 40px;
    margin-right: 3px;
    border-radius: 5px;
    background-color: #54e9c3;
    color: #fff;
}

.name {
    font-size: 14px;
    font-weight: 600;
}

.gmail-national-code {
    font-size: 16px;
    font-weight: 700;
}

.flat {
    white-space: nowrap;
}

.confirmed {
    border: 2px solid #2f31d0 !important;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 600;
    color: #000;
    padding: 5px 21px;
}

.failed {
    border: 2px solid #f66b64 !important;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 600;
    color: #000;
    padding: 5px 30px;

}

.pending {
    border: 2px solid #54e9c3 !important;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 600;
    color: #000;
    padding: 5px 14px;
}

.time {
    display: block;
}

.header {
    padding-left: 4.9rem;
    text-align: center;
}

.btn-group {
    float: left;
}

.dropdown-menu {
    text-align: right;
    letter-spacing: -1px;;
    font-size: 13px;
    min-width: 9rem;
}

.user-code {
    padding-left: 4.9rem;
}

/*.btn {*/
/*    width: 5.5rem;*/
/*    height: 1.8rem;*/
/*    border-radius: 5px;*/
/*    !*background-color: rgb(84, 233, 195);*!*/
/*    color: rgb(255, 255, 255) !important;*/
/*    font-size: 12px;*/
/*    font-weight: 700;*/
/*}*/

.button-success {
    float: left;
}

.pagination {
    display: inline-block;
    float: left;
}

.pagination a {
    color: #777777;
    background-color: #f8f8fa;
    float: left;
    padding: 5px 14px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 0 4px;
}

.pagination a.active {
    background-color: #54e9c3;
    color: white;
    border: 1px solid #54e9c3;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

.choices {
    display: inline-block;
}

.card {
    -webkit-box-shadow: 0 0 20px #0000001e;
    box-shadow: 0 3px 20px #0000001e;
    background-color: #fff;
}

.card-body {
    text-align: center;
}

.card-text {
    display: contents;
}

.pdf-image {
    padding-right: 5px;
    width: 21px;
}

.excel-image {
    padding-right: 5px;
    width: 26px;
}

.btn-pdf {
    width: 140px;
    height: 30px;
    object-fit: contain;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.23);
    background-color: #fff;
}

.pdf-text, .exel-text {
    font-size: 15px;
    color: #000 !important;
}

@media screen and (max-width: 850px) {
    .pdf-exel {
        padding-top: 4rem !important;
    }
}

/*end user-list*/

/*start-system-reports*/

@media screen and (min-width: 768px) {
    .system-reports .btn-filters {
        display: none;
    }

    .system-reports .filter-btn {
        display: none;
    }

    .system-reports .up-animation {
        z-index: 1 !important;
        position: relative;
    }

    .system-reports .modal-content {
        border: none;
    }

    .system-reports .modal-header {
        display: none;
    }

    .system-reports .fixed-bottom {
        position: relative;
    }

    .system-reports .modal {
        height: auto;
    }
}

.system-reports .modal-content {
    padding: 0
}

.system-reports .up-animation {
    z-index: 2147483647;
}

.system-reports .btn-filters {
    height: 50px;
    align-items: center;
    background-color: rgb(238, 238, 238);
    text-align: center;
    padding-top: 10px;
    border-radius: 5px;
}

.system-reports span.filters {
    background-color: #f66b64;
    border-radius: 5px;
}

.system-reports svg.filters {
    background-color: rgb(238, 238, 238);
    border-radius: 5px;
}

@media screen and (max-width: 992px) {
    .system-reports .one, .two {
        width: 50% !important;
        padding-left: 4px;
        padding-right: 4px;
    }
}

@media screen and (max-width: 768px) {
    .system-reports .transaction-table-container {
        padding: 20px !important;
    }

    .system-reports .last-input {
        margin-bottom: 3rem;
    }

    .system-reports .transaction__btn2 {
        height: 50px;
        align-items: center;
        background-color: #54e9c3;
        text-align: center;
        color: #000;
        border-radius: 0;
        margin-right: 0;
    }
}

.system-reports .header-transaction select, .header-transaction input {
    height: 40px;
    border-radius: 4px;
}

.system-reports .selection {
    padding-left: 90px !important;
}

.system-reports .transaction__btn2 {
    padding: 20px 40px;
    margin-top: 3.5rem !important;
    margin-left: 40px;
    border-radius: 5px;
    background-color: #54e9c3;
    color: #fff;
    margin-right: 0;
}

.system-reports .filter-btn {
    background: #8d8d8d38;
    padding: 10px 15px;
    border-radius: 6px;
}

.system-reports .headline {
    font-weight: normal;
}

.system-reports .gmail-national-code, .numbers, .amount, .currency {
    font-size: 16px;
    font-weight: 700;
}

.system-reports .description {
    font-size: 14px;
    font-weight: 400;
}

.system-reports .date {
    text-align: left !important;
    padding-left: 1rem;
}

.system-reports .more {
    cursor: pointer;
}

.system-reports .modal-header .close {
    padding: 1.3rem 1.9rem;
}

@media screen and (min-width: 1328px) {
    .system-reports .more {
        display: none;
    }
}

@media screen and (max-width: 1328px) {
    .system-reports .description {
        display: none;
    }
}

.system-reports .deposit {
    border: 2px solid #2f31d0 !important;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 600;
    color: #000;
    padding: 5px 39px;
}

.system-reports .harvest {
    border: 2px solid #f66b64 !important;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 600;
    color: #000;
    padding: 5px 30px;
}

.system-reports .time {
    display: block;
}

.system-reports .header {
    padding-right: 3rem;
    text-align: center;
}

.system-reports .header-code {
    padding-right: 1rem;
}

.system-reports .pagination {
    display: inline-block;
    float: left;
}

.system-reports .pagination a {
    color: #777777;
    background-color: #f8f8fa;
    float: left;
    padding: 5px 14px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 0 4px;
}

.system-reports .pagination a.active {
    background-color: #54e9c3;
    color: white;
    border: 1px solid #54e9c3;
}

.system-reports .pagination a:hover:not(.active) {
    background-color: #ddd;
}

.system-reports .choices {
    display: inline-block;
}

.system-reports .card {
    -webkit-box-shadow: 0 0 20px #0000001e;
    box-shadow: 0 3px 20px #0000001e;
    background-color: #fff;
}

.system-reports .card-body {
    text-align: center;
}

.system-reports .card-text {
    display: contents;
}

.system-reports .pdf-image {
    padding-right: 5px;
    width: 21px;
}

.system-reports .excel-image {
    padding-right: 5px;
    width: 26px;
}

.system-reports .btn-pdf {
    object-fit: contain;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.23);
    background-color: #fff;
    padding: 2px 5px;
    color: #000;
}

.system-reports .btn-exel {
    object-fit: contain;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.23);
    background-color: #fff;
    padding: 2px 5px;
    color: #000;
}

.system-reports .pdf-text, .exel-text {
    font-size: 15px;
    color: #000 !important;
}

.system-reports .input-date {
    width: 33% !important;
}

@media screen and (max-width: 767px) {
    .system-reports .input-date {
        width: 100% !important;
    }
}

@media screen and (max-width: 800px) {
    .system-reports .pdf-exel {
        padding-top: 5.3rem !important;
        margin-right: 0 !important;
    }
}

/*end-system-reports*/


/*start-withdraw-rls*/

.withdraw .transaction__btn2 {
    padding: 20px 40px;
    margin-top: 2.5rem !important;
    margin-left: 40px;
    border-radius: 5px;
    background-color: #54e9c3;
    color: #fff;
    margin-right: 0;
}

.withdraw .modal-content {
    padding: 0;
}

.withdraw .up-animation {
    z-index: 2147483647;
}

.withdraw .filter-btn {
    background: #8d8d8d38;
    padding: 10px 15px;
    border-radius: 6px;
}

.withdraw .btn-out, .btn-pdf {
    border-radius: 5px;
}

.withdraw .btn-pdf {
    width: 124px;
}

@media screen and (min-width: 768px) {
    .withdraw .filter-btn {
        display: none;
    }

    .withdraw .up-animation {
        z-index: 1 !important;
        position: relative;
    }

    .withdraw .modal-content {
        border: none;
    }

    .withdraw .modal-header {
        display: none;
    }

    .withdraw .fixed-bottom {
        position: relative;
    }

    .withdraw .modal {
        height: auto;
    }
}

@media screen and (max-width: 768px) {
    .withdraw .transaction__btn2 {
        height: 50px;
        align-items: center;
        background-color: #54e9c3;
        text-align: center;
        color: #fff;
        border-radius: 0;
        margin-right: 0;
    }

    .withdraw .transaction-table-container {
        padding: 20px !important;
    }

    .withdraw .last-input {
        margin-bottom: 3rem;
    }
}

/*end-withdraw-rls*/


/*start-user-authentication*/

.transaction__filter-title {
    font-size: 15px;
    font-weight: 500;
    line-height: 1.65;
    color: #4a4a4a;
}

.confirmation, .reject {
    padding: 0 5px;
    margin: 10px;
    font-size: 13px;
    object-fit: contain;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.23);
    background-color: #fff;
    cursor: pointer;
}

.card {
    -webkit-box-shadow: 0 0 20px #0000001e;
    box-shadow: 0 1px 12px #0000001e;
    background-color: #fff;
}

.cards-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
}

.text {
    float: left;
    font-weight: bold;
}

.confirmations {
    width: 25px;
    margin-right: 5px;
    margin-top: 8px;
}

.card-rectangle {
    width: 18rem;
    height: 16rem;
    -webkit-box-shadow: 0 0 20px #0000001e;
    box-shadow: 0 1px 12px #0000001e;
    background-color: #fff;
    display: contents;
}

.card-body {
    text-align: center;
    display: grid;
}

.dotted {
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='8' ry='8' stroke='%2354E9C3FF' stroke-width='3' stroke-dasharray='10' stroke-dashoffset='79' stroke-linecap='butt'/%3e%3c/svg%3e");
    border-radius: 8px;
    height: 11rem;
}

.dotted img {
    width: 100%;
    height: 100%;
    padding: 6px;
    border-radius: 15px;
}

[type="radio"] {
    visibility: hidden;
}

[type="radio"]::before {
    height: .9em;
    width: .9em;
    border: 1px solid gray;
    border-radius: 50%;
    display: block;
    content: " ";
    cursor: pointer;
    visibility: visible;
}

[type="radio"]:checked::before {
    background: radial-gradient(#54e9c3 100%, transparent 100%);
    border: 1px solid #54e9c3;
}

/*end-user-authentication*/

.chart-slider-item{
    height: 170px;
}
.chart-slider{
    margin-bottom: 20px;
}
