@font-face {
  font-family: "icomoon";
  src: url("../fonts/icons/icomoon.eot?6o3w6i");
  src: url("../fonts/icons/icomoon.eot?6o3w6i#iefix")
      format("embedded-opentype"),
    url("../fonts/icons/icomoon.ttf?6o3w6i") format("truetype"),
    url("../fonts/icons/icomoon.woff?6o3w6i") format("woff"),
    url("../fonts/icons/icomoon.svg?6o3w6i#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zang:before {
  content: "\e900";
  color: #777;
}
.icon-Color-Overlay:before {
  content: "\e901";
  color: #666;
  font-size: 20px;
}
.icon-Group-1728:before {
  content: "\e902";
  color: #134563;
}
.icon-Group-1745 .path1:before {
  content: "\e903";
  color: rgb(243, 156, 18);
}
.icon-Group-1745 .path2:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(34, 47, 62);
}
.icon-Icon-awesome-coins:before {
  content: "\e905";
  color: #666;
  font-size: 30px;
}
.icon-Icon-awesome-copy:before {
  content: "\e906";
}
.icon-Icon-awesome-wallet:before {
  content: "\e907";
  color: #666;
  font-size: 23px;
}
.icon-Icon-feather-mail:before {
  content: "\e908";
}
.icon-Icon-feather-more-horizontal:before {
  content: "\e909";
}
.icon-Icon-feather-search:before {
  content: "\e90a";
}
.icon-Icon-feather-settings:before {
  content: "\e90b";
}
.icon-Icon-material-compare-arrows:before {
  content: "\e90c";
  color: #666;
  font-size: 24px;
}
.icon-Icon-material-expand-more:before {
  content: "\e90d";
}
.icon-Icon-material-unfold-more:before {
  content: "\e90e";
  opacity: 0.7;
  margin-right: 0.5rem;
}
.icon-Icon .path1:before {
  content: "\e90f";
  color: rgb(0, 0, 0);
}
.icon-Icon .path2:before {
  content: "\e910";
  margin-left: -1.017578125em;
  color: rgb(119, 119, 119);
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icons/icomoon.eot?6dfxlb');
  src:  url('../fonts/icons/icomoon.eot?6dfxlb#iefix') format('embedded-opentype'),
    url('../fonts/icons/icomoon.ttf?6dfxlb') format('truetype'),
    url('../fonts/icons/icomoon.woff?6dfxlb') format('woff'),
    url('../fonts/icons/icomoon.svg?6dfxlb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-chat-icon .path1:before {
  content: "\e900";
  color: rgb(102, 102, 102);
}

.icon-chat-icon .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}

.icon-chat-icon .path3:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
