.tradingview-widget-container {
    margin: auto;
}

/*.sidebar-menu__item {*/
/*    margin: 0.8rem 0;*/
/*}*/
/*.sidebar-menu {*/
/*    margin-top: 1rem;*/
/*}*/
.icon-Group-1745 {
    position: relative;
}

.icon-Group-1745 .path2 {
    position: absolute;
    right: 0;
}

/* ----------------------------profile---------------------------------- */

@media (min-width: 992px) {
    .profile-img {
        position: absolute;
        right: -100px;
        top: 20px;
    }

    .profile-img-edit {
        right: -85px;
        bottom: 23px;
    }

    .pr-lg--5 {
        padding-right: 150px;
        /*padding-left: 30px;*/
        height: 270px;
    }
}

@media (max-width: 992px) {
    .profile-img {
        margin: 0 auto;
        display: flex;
    }

    .profile-img-edit {
        right: 40px;
        top: 150px;
    }
}

.profile-title {
    font-weight: 400;
    font-size: 1.7rem;
    margin-bottom: 1rem;
}

.profile-cart {
    padding: 2rem 0;
}

.profile-cart h4 {
    font-weight: bolder;

}

.bolder {
    font-weight: bolder
}

.color-f66b64 {
    color: #f66b64;
}

@media (min-width: 1200px) {

}

.line-w {
    width: 100%;
    height: 1px;
    display: block;
    background: #9c9c9c;
    margin: 10px auto;
}

.color-4a4a4a {
    color: #4a4a4a;
}

.color-707070 {
    color: #707070;
}

.bg-f66b64 {
    background: #f66b64;
}

.radius-5 {
    border-radius: 5px;
}

.profile-cart2 {
    padding: 0px 0 10px 0;
}

.color-232323 {
    color: #232323;
}

.color-777 {
    color: #777;
}

.bg-e2e6eb {
    background: #e2e6eb;
}

.border-e2e6eb {
    border: 1px solid #e2e6eb;
}

.bg-2f31d0 {
    background: #2f31d0;
}

.bg-54e9c3 {
    background: #54e9c3;
}

.border-54e9c3 {
    border: 1px solid #54e9c3;
}

.color-f66b64 {
    color: #f66b64;
}

.radius-input {
    border-radius: 0 0.25rem 0.25rem 0 !important;
}

.radius-label {
    border-radius: 0.25rem 0 0 0.25rem !important;
}

/*input[type=radio]{*/
/*    !* Hide original inputs *!*/
/*    visibility: hidden;*/
/*    position: absolute;*/
/*}*/
/*input[type=radio] + label:before{*/
/*    height:15px;*/
/*    width:15px;*/
/*    margin-left: 10px;*/
/*    content: " ";*/
/*    display:inline-block;*/
/*    vertical-align: top;*/
/*    border: solid 1.5px #707070;*/
/*}*/
/*input[type=radio]:checked + label:before{*/
/*    vertical-align: top;*/
/*    display:inline-block;*/
/*    content: " ";*/
/*    height:15px;*/
/*    width:15px;*/
/*    border: solid 1.5px #54e9c3;*/
/*    background:#54e9c3;*/

/*}*/

/* CUSTOM RADIO AND CHECKBOX STYLES */
input[type=radio] + label:before {
    border-radius: 50%;
}

/* ----------------------------setting---------------------------------- */
.setting-cart {
    padding: 2rem 0;
}

.setting-title {
    font-weight: 400;
    font-size: 1.7rem;
    margin-bottom: 1rem;
}

.setting-cart input[type=radio] + label:before {
    height: 20px;
    width: 20px;
    padding: 0;
    margin-left: 10px;
    content: " ";
    display: inline-block;
    vertical-align: top;
    border: solid 1.5px #707070;

}

.setting-cart input[type=radio]:checked + label:before {
    vertical-align: top;
    display: inline-block;
    content: " ";
    height: 14px;
    margin-left: 16px;
    width: 14px;
    border: solid 1.5px #54e9c3;
    background: #54e9c3;
    box-shadow: 0px 0px 0px 6px #54e9c44d;
}

/* CUSTOM RADIO AND CHECKBOX STYLES */
.setting-cart input[type=radio] + label:before {
    border-radius: 50%;
}

.btnsize1 {
    width: 255px !important;
    height: 45px !important;
}

.btnsize2 {
    width: 255px !important;
    height: 35px;
}

.btnsize3 {
    width: 100px !important;
    height: 35px;
}

.h-40 {
    height: 40px;
}

/* ----------------------- SWAP -------------------------*/
.volume-form__menu-3 {
    overflow-y: auto;
}

/*------------------------ WALLET -----------------------*/
.recent-transactions__img {
    width: 35px;
    margin-left: 15px;
}

.doughnut-chart::after {
    color: var(--crypto-chart-color) !important;
}

.empty-line {
    width: 20px;
    display: block;
    margin: auto;
    background: #2b2b2b;
    height: 0.1em;
    border: none;
}


/*------------------------ DEPOSIT ----------------------*/
.item-gateway {
    transition: all .3s;
}

.selected-boxs__box:nth-child(1) {
    border-left: 1px solid #dcdcdc;
}


/*----------------------- TOP MENU -----------------------*/
.icon-img-notif {
    width: 48px;
    height: 48px;
    padding: 10px 10px 10px 10px;
    margin-right: 25px;
    float: right;
}

.container-notification .title {
    font-weight: normal;
}

.notification .dates {
    margin-right: 0 !important;
}


.soon__btn {
    font-size: 11px;
    margin-top: 5px;
}

.attention-Warning {
    padding-left: 0 !important;
}

.attention {
    border: 1px solid red;
    border-radius: 15px;
    padding: 2px 10px;
    font-weight: 900;
    margin-right: 5px;
    cursor: help;
}

.attention {
    color: red;
    border: 1px solid red;
    border-radius: 15px;
    padding: 4px 10px 0 10px;
    margin: 10px 0 10px 5px;
    font-weight: 600;
    cursor: help;
}

/*------------------------ ANNOUNCEMENTS ----------------------*/
.container-notification ul.announcement .announcement-item .thumbnail-img {
    width: 100%;
    height: 250px;
    border-radius: 8px;
    box-shadow: 4px 4px 5px #8080802b;
}

.container-notification ul.announcement .announcement-item::after {
    content: '';
    border-bottom: dashed 2px #80808057;
    width: 100%;
    display: block;
}

.announcement-item p span {
    color: #134563;
    font-weight: 500;
}

/*--------------------- GENERAL ---------------------------------*/
.input-border::before {
    content: '';
    width: 5px;
    height: 100%;
    background: linear-gradient(to bottom, #ffb84a, #d20b54);
    position: absolute;
    right: 0;
    border-radius: 10px
}

/*--------------------- CREATE ANN ------------------------------*/
.ann-list span.select2 {
    width: 100% !important;
    margin: auto;
}

.ann-list span.select2 .select2-selection {
    min-height: 70px;
    border: none;
    box-shadow: rgb(0 0 0 / 35%) 0px 1px 10px;
}

.currency-list {
    max-height: 950px;
    overflow-y: auto;
}

.currency-list::-webkit-scrollbar {
    display: none;
}
