/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

@media only screen and (min-width: 1600px) {
    .doughnut-chart {
        width: 345px;
    }
}

@media only screen and (max-width: 1500px) {
    .recent-transactions__desc h5,
    .recent-transactions__name h5 {
        font-size: 0.8rem;
        white-space: nowrap;
    }

    .recent-transactions__desc span,
    .recent-transactions__name span {
        white-space: nowrap;
        font-size: 0.7rem;
    }
}

@media only screen and (max-width: 1300px) {
    .red-chart-box {
        padding: 1rem;
    }
    .wallet-chart-2 {
        width: 70%;
    }
}

@media only screen and (max-width: 1340px) {
    .filter__right {
        width: 65vw;
    }

    .request-info__desc:nth-child(3) {
        margin-top: 9.8rem;
    }

    .filter__form {
        width: 14%;
    }

    .cart-currency-2 .cart-currency__name {
        font-size: 1rem;
    }

    .cart-currency-2 .cart-currency__about-price p {
        font-size: 1rem;
    }
    .cart-currency-2 .cart-currency__about-price span {
        font-size: 0.9rem;
    }
    .cart-currency-2 .cart-currency__abbreviation {
        font-size: 1.2rem;
    }
    .cart-currency-2 .cart-currency__img {
        width: 30px !important;
    }

    .wallet-address .filter__item {
        margin: 0.5rem 0;
    }
}

@media only screen and (max-width: 1220px) {
    .recent-transactions__img {
        display: none;
    }

    .useritems li  {
        flex-grow: 1;
    }

    .useritems li a  {
        width: auto;
    }

    .related::before {
        display: none;
    }

    .recent-transactions__desc span,
    .recent-transactions__name span {
        font-size: 1.1vw;
    }

    .cart-currency-2 .cart-currency__img {
        width: 3.3vw;
    }
    .wallet-chart-2 {
        width: 80%;
    }

    .filter__section {
        display: none;
    }

    .filter__right {
        width: 78vw;
    }

    .center-swap-currency {
        -ms-flex-preferred-size: 29%;
        flex-basis: 29%;
    }

    .symbols__symbol img {
        width: 80px;
    }

    .symbols__symbol {
        width: 80px;
        height: 80px;
    }

    .symbols__symbol:last-child {
        font-size: 18px;
    }

    .symbols__symbol:last-child img {
        width: 60px;
    }

    .symbols__symbol:last-child p {
        margin-top: 0;
    }
}

@media only screen and (max-width: 1200px) {
    .assets-price {
        font-size: 1.4rem;
    }

    .assets-value p {
        font-size: 1.2rem;
    }
    .swap-currency p {
        font-size: 15px;
    }

    .price {
        font-size: 17px;
    }

    .volume-form__img-3 {
        width: 28px;
        height: 28px;
    }

    .volume-form__input-container-3 label {
        font-size: 14px;
    }

    .volume-form__selected-title-3 {
        font-size: 15px;
    }

    .total-value {
        font-size: 13px !important;
    }

    .recent-transactions__title h2 {
        font-size: 0.8rem;
    }

    .right-deposit-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .right-deposit-container > div:last-child {
        margin: 2rem auto;
    }
}

@media only screen and (max-width: 1100px) {
    .selected-boxs__price {
        font-size: 25px;
    }

    .cart-currency-2 .cart-currency__about-price p {
        font-size: 13px;
    }

    .cart-currency-2 .cart-currency__about-price span {
        font-size: 12px;
    }

    .cart-currency-2 .cart-currency__name {
        font-size: 13px;
    }
}

@media only screen and (max-width: 1050px) {
    .wallet-table-container {
        width: 1030px;
    }
    .wallet-table-container-self {
        overflow: scroll;
    }
}

@media only screen and (max-width: 992px) {
    .responsive-title {
        font-size: 1.3rem;
        margin-bottom: 0;
        margin-left: 1.1rem;
        display: block;
    }

    .btns-exit .chat__btn {
        position: fixed;
        bottom: 15px;
        left: 15px;
    }

    .upload-card {
        margin: 1rem 0;
    }

    .request-boxs {
        margin: 0 auto;
    }

    .request-row {
        padding-top: 0;
    }

    .new-accont__desc {
        margin-top: 1rem !important;
    }

    .request-info__desc:nth-child(3) {
        margin-top: 2rem;
    }

    .transaction__btn {
        width: 100%;
        margin-top: 0.5rem;
        height: 42px;
    }

    .withdraw-2 .request-box {
        max-width: none;
    }

    .create-new-bank {
        font-size: 15px;
        padding: 0.5rem 1rem;
    }

    .create-new-bank svg {
        width: 15px;
        height: 15px;
    }

    .header-transaction select,
    .header-transaction input {
        height: 42px;
    }

    .d-res-none {
        display: none !important;
    }

    .swap-currency {
        padding: 0;
    }

    .header-transaction {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .header-transaction > div {
        width: 100%;
    }

    .volume-transaction input:first-child,
    .date-transaction input:first-child {
        margin-right: 1rem;
    }

    .selected-transaction > div:first-child {
        margin: 0 1rem 0 0;
    }

    .header-transaction > div {
        margin: 0.5rem 0;
    }

    .selected-transaction > div:last-child {
        margin: 0;
    }

    .header-transaction input {
        border: none !important;
    }

    .w-100-res {
        width: 100%;
    }

    .container-seleted-swap > div:last-child {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .swap-volume,
    .swap-wage {
        width: 100%;
        margin: 1rem 0;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .assets > div:first-child {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }

    .wallet-chart {
        margin: 0 auto;
    }

    .assets > div {
        width: 100%;
    }

    .left-wallet-chart {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .distance__box-responsive {
        margin-top: 1rem;
    }

    .left-wallet-chart > div {
        width: 48%;
        margin: 0 !important;
    }

    .mt-4 {
        margin-top: 2rem;
    }

    .recent-transactions__desc h5,
    .recent-transactions__name h5 {
        font-size: 1.2rem;
    }

    .recent-transactions__desc span,
    .recent-transactions__name span {
        font-size: 1rem;
    }

    .price-table-currency {
        padding-top: 1.5rem;
    }

    .dashboard-cart {
        padding: 1rem 0;
    }

    .desktop-title {
        display: none;
    }

    .nav {
        padding: 1.5rem 0 0.5rem 0;
    }
    .cart-currency {
        margin: 0.5rem 0;
    }
    .responsive-chart {
        margin-bottom: 1rem;
    }

    .bars-btn {
        display: block;
    }

    .search-box {
        display: none;
    }

    .content {
        margin-left: 90px;
    }

    .content.active {
        margin-left: 280px;
    }

    .open__sidebar {
        display: none;
    }

    .table-bottom-title {
        display: none;
    }

    .table__footer {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
    }
    .pages-length-title {
        margin-left: 0;
        margin-top: 1rem;
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }

    .assets {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .table-header ul {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    .table-header ul li {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
    }

    .table-header ul li:first-child {
        -ms-flex-preferred-size: 38%;
        flex-basis: 38%;
    }

    .table-header ul li:last-child {
        text-align: left;
    }

    .red-table ul li:first-child,
    .green-table ul li:first-child {
        -ms-flex-preferred-size: 27%;
        flex-basis: 27%;
    }

    .panel-box__padding-0 {
        padding: 0 !important;
        margin: 1rem 0;
    }

    .last-green ul li:first-child {
        -ms-flex-preferred-size: 32%;
        flex-basis: 32%;
    }

    .tread__news {
        margin: 0;
    }

    .left-wallet-chart {
        height: auto;
    }

    .swap-footer {
        overflow-x: scroll;
    }

    .swap-footer__table {
        width: 1300px;
    }

    .container-seleted-swap {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .container-seleted-swap > div {
        width: 100%;
        margin: 0.5rem 0;
    }

    .swap-container-currency {
        height: auto;
    }

    .swap-container-currency::before,
    .related-circle {
        display: none;
    }
    .volume-form-3 label {
        margin: 0;
    }

    .center-swap-currency {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }

    .swap-related {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
    }

    .center-swap-currency p {
        margin: 0;
    }

    .volume-form-3 label {
        display: none;
    }

    .swap-label__responsive {
        display: block;
    }

    .chat__col {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }

    .chat-message-box__col {
        display: none;
    }

    .ticket-info__arrow {
        display: block;
        font-size: 12px;
    }

    .ticket-info__box {
        height: 65px !important;
        overflow: hidden;
        cursor: pointer;
        -webkit-transition: 0.5s ease;
        -o-transition: 0.5s ease;
        transition: 0.5s ease;
        margin-bottom: 1rem;
    }

    .ticket-info__box.active {
        height: 420px !important;
    }

    .ticket__message-box-2 {
        overflow: hidden;
        border: 2px solid rgb(240, 240, 240) !important;
        display: block;
        border-radius: 30px;
        padding: 1rem !important;
        height: 55px;
        max-height: 200px;
    }

    .chat-message__input {
        padding: 1.5rem;
    }

    .ticket-3__btns {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        max-width: 200px;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 768px) {
    .order__body {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .content {
        margin: 0;
    }

    .responsive-title {
        font-size: 1.2rem;
    }

    body.active {
        overflow: hidden;
    }

    .btns-exit {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .btns-exit button {
        margin: 1rem 0;
    }

    .btns-exit .chat__btn {
        bottom: 0;
    }
    .desired-box {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .desired-box > .request-box-2:nth-child(1) {
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
        width: 100%;
        margin: 0.5rem 0 1rem 0;
    }

    .desired-box .create-new-bank {
        width: 100%;
        margin: 1rem 0;
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }

    .panel-box {
        height: auto;
    }
    .left-wallet-chart-self-top-container-perecent {
        font-size: 3rem;
    }

    .left-wallet-chart {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .left-wallet-chart > div {
        width: 100%;
    }

    .left-wallet-chart > div:last-child {
        margin-top: 1rem !important;
    }

    .distance__box-responsive-768 {
        margin-top: 1rem;
    }

    .wallet-chart-2-container {
        height: auto;
    }

    .responsive-table {
        overflow-x: auto;
    }

    .responsive-table .tread-tabs__content-last-3 {
        width: 730px;
    }

    .container-menu .ul-res-menu {
        display: block;
    }
    .sidebar {
        display: none;
    }
    .profile__menu {
        display: none;
    }
    .profile__arrow {
        display: none;
    }

    .content.active {
        margin-left: 0;
    }
}

@media only screen and (max-width: 665px) {

    .currency-present-change {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

@media only screen and (max-width: 576px) {
    .selected-boxs {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .gener-btn {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .selected-boxs__box:nth-child(2) {
        border-left: none;
    }

    .selected-boxs__box {
        width: 100%;
        border-bottom: 1px solid rgb(219, 219, 219);
    }

    .selected-boxs__box:nth-child(3) {
        border: none;
    }

    .selected-boxs__box.active {
        border: none !important;
    }

    .profile__title {
        display: none;
    }

    .wallet-address {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .wallet-address .filter__item {
        margin: 0.5rem 0;
    }

    .wallet-address-character {
        white-space: normal !important;
        word-break: break-all;
    }

    .copy-btn {
        margin-right: 1rem;
    }

    .profile__btn svg {
        display: none;
    }

    h2 {
        font-size: 1rem !important;
    }

    .price-table-currency .currency-right-title::before {
        display: none;
    }

    .price-table-currency .currency-right-title {
        padding-right: 10px;
    }
    .price-table-currency .currency-title .currency-right-title h5 {
        margin-right: 1rem;
    }

    .all-assets-container > div {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }

    .all-assets h5 {
        white-space: nowrap;
        font-size: 15px;
    }

    .left-wallet-chart-self-top-container-perecent {
        font-size: 2rem !important;
    }
    .swap-label__responsive {
        display: block !important;
        width: 100%;
    }

    .swap-label__responsive-2 {
        margin-top: 2rem;
    }

    .swap-currency {
        padding: 0;
    }

    .volume-form__input-container-3 input,
    .volume-form__input-container-3 .disabled-p {
        padding: 0;
    }

    .volume-form-3 {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
}
@media only screen and (max-width: 460px) {
    .tread-tabs__btns ul li:nth-last-child(2) {
        display: none;
    }
}
@media only screen and (max-width: 420px) {
    .dashboard-table,
    .panel-box,
    .market-volume {
        padding: 2rem 1rem;
    }
}

@media only screen and (max-width: 405px) {
    .responsive-title {
        font-size: 1.1rem;
    }

    .all-assets-container > div {
        display: block;
        direction: ltr;
    }

    .all-assets h5 {
        font-size: 15px;
        margin-left: 0;
    }
}

@media only screen and (max-width: 365px) {
    .responsive-title {
        display: none;
    }
}

@media only screen and (max-width: 345px) {
    .tread-tabs__btns ul li:last-child {
        display: none;
    }
}

@media only screen and (max-width: 330px) {
    .price-table-currency .currency-right-title img {
        display: none;
    }
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 770px;
        margin: 1.75rem auto;
    }
}

@media (min-width: 1366px) {
    .table-responsive {
        overflow-x: hidden;
    }
}

@media screen and (min-width: 768px) {
    span#filters {
        display: none !important;
    }
    div#toggle-filters-inputs {
        display: block !important;
    }
    .dash1 {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    div.header-transactionrls {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
