/* ====== Start Rigister ======= */
@media only screen and (max-width: 1405px) {
  .register-submit-btns .register-submit-btns__link,
  .register-submit-btns button {
    font-size: 14px;
  }
}
@media only screen and (max-width: 1360px) {
  .register-info {
    width: 50%;
    padding: 3.5rem 0rem 1rem 0rem;
  }

  .br-register {
    display: none;
  }
  
  .register-submit-btns .register-submit-btns__link,
  .register-submit-btns button {
    font-size: 16px;
  }
}

@media only screen and (max-width: 1200px) {
  
  .prices-mobile-app h2,
  .prices-mobile-app .what-currency-info .what-crypto-title {
    font-size: 2.1rem;
  }
  .prices-top__three-two span {
    font-size: 12px;
  }
  .prices-top__three__crypto-container {
    margin-right: 1rem;
  }
  .rootix-register-image-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
  }
  .register-img__bottom h3 {
    font-size: 19px;
  }
  .fa-facebook-f {
    padding: 0;
  }
  .form {
    width: 70%;
  }

  .facebook-container {
    width: 35px;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .sign-in-with-facebook {
    width: 72%;
  }

  /* ====== End Rigister ======= */

  .inputs {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .input {
    padding: 0 0.2rem;
    margin-right: 0 !important;
    margin-left: 0 !important;
  }

  .currency-blog > p {
    font-size: 14px;
  }

  .header-currency-information-1 {
    display: none;
  }
}
@media only screen and (max-height: 507px) {
  .rootix-register-image-info-container {
    height: 86%;
  }
}
@media only screen and (max-width: 1100px) {
  .about-header-image {
    width: 50%;
  }
  .about-header-info h1 {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 1028px) {
  header nav ul li {
    margin: 0 1.2rem;
  }
}

@media only screen and (max-width: 992px) {
  .currency-title span {
    text-align: left;
    display: block;
  }
  .main__prices-responsive {
    display: block;
  }
  .contact-info-responsive {
    padding: 2rem 0;
    margin: 2rem 0;
    border-top: 2px solid #e2e2e2;
    border-bottom: 2px solid #e2e2e2;
  }

  .contact-title {
    font-size: 6vw;
  }

  .contact__sidebar-footer-responsive {
    margin-top: 2rem;
  }

  .contact__sidebar-footer-responsive a {
    width: 55px;
    height: 55px;
  }

  .contact__sidebar-footer-responsive a i {
    font-size: 2rem;
  }

  .contact-info-responsive p {
    margin: 1rem 0;
    line-height: 35px;
  }
  .res-details-prices-about-currency {
    padding: 3rem 0;
  }

  .market-volume-container {
    overflow-x: scroll;
    padding: 2rem 2.2rem 2rem 0;
    scrollbar-width: none;
  }

  .market-volume-container::-webkit-scrollbar {
    display: none;
  }

  .market-volume-container:first-child {
    border-bottom: 1px solid #7070704b;
  }

  .market-volume {
    padding-left: 0.7rem;
    margin-bottom: 1.5rem;
    margin-left: 1rem;
    height: 35px;
    border-left: 1.3px solid #707070bd;
  }

  .market-volume p {
    font-size: 13px;
    color: #000000dc;
    margin-bottom: 0.8rem;
  }

  .market-volume h2 {
    font-size: 25px;
    color: #000000dc;
    letter-spacing: -2px;
    font-weight: 500;
  }

  .market-volume-btns {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
    margin-top: 2rem;
  }

  .market-volume-btns a {
    height: 40px;
    width: 48%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    border-radius: 4px;
  }

  .market-volume-btns a:first-child {
    background-color: #18c5bf;
  }

  .market-volume-btns a:last-child {
    background-color: #6c63ff;
  }

  .en-body .all-crypto-currency svg {
    margin-right: 0 !important;
  }

  .res-currency-details-info__title {
    color: rgba(0, 0, 0, 0.829);
    text-align: center;
  }

  .res-currency-details-info__title span {
    font-size: 17px;
    font-weight: 500;
  }

  .res-currency-details-info__title h1 {
    font-size: 30px;
    line-height: 27px;
  }

  .res-currency-details-info__percent-change span {
    display: flex;
    align-items: center;
    background-color: #e53131;
    color: #fff;
    padding: 0 15px;
    width: 85px;
    height: 38px;
    font-weight: 600;
    border-radius: 20px;
    justify-content: space-between;
    font-size: 12px;
  }

  .currency-details__prices-selected {
    width: 100px;
    height: 35px;
  }

  .selected-currency {
    width: 100px;
  }

  .selected-currency li {
    font-size: 12px;
  }

  .res-currency-details-prices__title {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.829) !important;
    display: flex;
    height: 35px;
    align-items: center;
    margin-bottom: 10px;
  }

  .res-currency-details-prices__mein-price {
    display: flex;
    align-items: center;
    font-size: 38px;
    color: rgba(0, 0, 0, 0.829) !important;
    line-height: 36px;
  }

  .res-currency-details-prices-info {
    border-left: 2px solid #f9a826;
    padding-left: 5px;
    margin-top: 2rem;
  }

  .res-market-table-name {
    font-size: 16px;
    color: #212121d7;
  }

  .res-market-table-title {
    color: rgba(0, 0, 0, 0.829) !important;
    font-size: 17px;
    margin-bottom: 1rem;
  }

  .res-currency-desc {
    color: #707070;
    font-size: 16px;
    margin-bottom: 2rem;
  }

  .res-market-table-price p {
    font-size: 17px;
    font-weight: 600;
    color: #212121d7;
  }

  .res-market-table {
    margin: 1rem 0;
  }

  .res-market-table-price {
    font-size: 16px;
    text-align: center;
    font-weight: 600;
  }

  .res-market-table-price span.plus {
    color: #00a7fb;
  }

  .res-market-table-price span.minus {
    color: #fb0000;
  }

  .res-market-table-btn {
    color: #6c63ff;
    font-size: 15px;
  }

  .res-details-chart img {
    width: 100%;
  }

  .res-currency-details-prices__mein-price span {
    font-size: 21px;
    font-weight: 400;
  }

  .currency-details__prices-selected h5 {
    font-size: 12px;
  }

  .en-body .download-btns button:first-child {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }

  .en-body .download-btns button:last-child {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .mobile-app .what-currency-info {
    padding: 0;
  }

  .currency-table td:nth-last-child(2) {
    padding-right: 1rem;
    padding-left: 0;
  }

  .en-body .section-background {
    background-image: none;
    padding: 0;
  }

  .information-ramz {
    padding-right: 10px;
    padding-left: 0 !important;
  }

  .en-body .currency-table td:nth-last-child(2) {
    padding-left: 1rem;
    padding-right: 0;
  }

  .en-body .currency-title {
    padding-left: 0 !important;
  }
  .en-body .currency-right-title {
    margin: 0 !important;
  }
  .download-btns {
    width: 100%;
  }
  .download-btns button {
    width: 49%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .download-btns button:first-child {
    margin-right: 0;
  }
  .download-btns button:last-child {
    margin-left: 0;
  }
  .prices-mobile-app .what-currency-info .what-crypto-desc {
    margin: 2rem auto;
  }
  .market-information-btn {
    display: flex;
    justify-content: space-between;
  }

  .share-market img {
    width: 40px;
  }

  .market-informations h5 {
    font-size: 14px;
    font-weight: 500;
    color: #707070;
  }

  .mb-5 {
    margin-bottom: 3rem !important;
  }

  .market-information > * {
    margin: 1.3rem 0;
  }

  .share-market span {
    font-size: 2.8vw;
    white-space: nowrap;
    letter-spacing: -0.5px;
    margin-right: 8px;
  }

  .share-market img {
    width: 35px;
  }

  .market-volume-title {
    color: #000;
    font-size: 12px;
    font-weight: 600;
  }
  .market-persent {
    color: red !important;
    font-size: 17px !important;
  }
  .market-informations {
    transition: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    padding: 0.5rem 0;
    height: 47px;
    overflow: hidden;
  }

  .currency-doloar-price h5 {
    font-size: 16px;
    color: rgb(46, 46, 46);
  }

  .currency-doloar-price p {
    font-size: 13px;
    color: #707070;
  }

  .second-after td:last-child .just-for-center {
    align-items: flex-end !important;
  }
  .prices-res-currency-table .currency-right-title {
    margin: 0;
  }

  .prices-res-currency-table .currency-title img {
    width: 30px;
    height: 30px;
  }
  .just-for-center {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .currency-right-title {
    justify-content: flex-start;
    width: 100%;
  }
  .prices-res-currency-table tr:first-child td:first-child .td-row {
    padding: 0.6rem;
    padding-right: 2rem;
    justify-content: flex-start !important;
  }
  .prices-res-currency-table tr:first-child td:last-child .td-row {
    justify-content: flex-end !important;
  }
  .price-currency-present-change {
    padding: 0.3rem 0.5rem;
    display:flex;
    align-items:center;
    width: 80px;
    justify-content: center;
  }

  .price-currency-present-change svg {
    margin-right: 0.3rem;
  }
  .bottom-price-menu .res-menu__bottom {
    margin: 0;
    padding: 0.5rem 0;
  }
  .currency-left-title {
    margin-left: 1rem;
  }
  .currency-left-title h5 {
    margin: 0 !important;
  }
  .price-table-currency__title {
    font-size: 4.5vw;
    font-weight: 500;
    margin-bottom: 1rem;
  }

  .res-prices-btns-container {
    overflow-x: scroll;
    width: 100%;
    scrollbar-width: none;
  }

  .res-prices-btns-container::-webkit-scrollbar {
    display: none;
  }

  .res-prices-btns {
    display: flex;
    align-items: center;
  }

  .res-prices-btns button {
    white-space: nowrap;
    padding: 0.8rem 1.5rem;
    background-color: #f8fafd;
    border: 1px solid #707070;
    border-right: 0;
    transition: 0.5s ease;
  }

  .res-prices-btns button.active {
    background-color: #707070;
    color: #fff;
  }
  .section-1 {
    margin-top: 2rem;
  }

  .faq__title {
    font-size: 19px;
  }

  .faq__question {
    font-size: 16px;
  }

  .faq-arrow {
    width: 17px;
    height: 10px;
    margin-right: 1rem;
  }

  .faqs-search__search-box {
    border-radius: 5px;
    background-color: #768099d5;
    margin-bottom: 1rem;
    overflow: hidden;
    display: flex;
    align-items: center;
  }

  .faqs-search__search-box svg {
    margin-left: 1rem;
  }

  .faqs-search__search-box input {
    color: #fff;
    background-color: transparent;
    font-size: 14px;
    font-weight: 400;
  }

  .faqs-search__search-box input::placeholder {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
  }

  .comment-info-res__title {
    font-size: 14px;
    font-weight: 500;
    margin: 5px 0;
  }

  .res-forward-icon {
    padding-top: 5px;
  }

  .res-comment__calender {
    font-size: 13px;
  }

  .res-forward-info {
    padding-right: 1rem;
  }

  .more-comment-btn {
    font-size: 11px;
    color: #262c3f;
    font-weight: 500;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 3rem 0;
  }

  .more-comment-btn svg {
    margin-right: 8px;
  }

  .res-comment-forward {
    margin-top: 3rem;
  }

  .res-comment {
    color: #262c3f;
  }

  .comment__edit {
    padding-top: 0;
  }

  .comment__stars {
    margin-right: 0;
  }

  .single-page-comment-line {
    margin: 1rem 0 !important;
  }

  .res-comment__text {
    padding-right: 0.6rem;
    font-size: 14px;
    font-weight: 500;
    color: #676b78;
    margin-top: 1rem;
  }

  .singlePage-sec-one-img img {
    border-radius: 10px;
  }

  .comment-desc-1 p {
    font-size: 22px;
  }

  .single-page-responsive-text {
    font-size: 18px !important;
    line-height: 36px !important;
  }

  .singlePage-sec-1 h1 {
    font-weight: 500;
    font-size: 20px;
    line-height: 35px;
    text-align: center;
  }

  .singlePage-sec-one__info {
    text-align: center;
  }

  .singlePage-sec-one__info span {
    font-size: 15px;
    color: #000;
    font-weight: 500;
    margin: 0 0.5rem;
  }

  .add-comments-single-page {
    border: 2px solid #262c3f;
    padding: 0.3rem 0.5rem;
    border-radius: 7px;
    color: #262c3f;
    display: flex;
    font-size: 13px;
    align-items: center;
  }

  .comment__edit button {
    margin: 0 6px;
  }

  .comment__info-container {
    margin: 0;
  }

  .best-comments h3 {
    font-size: 15px;
    font-weight: 700;
    color: #262c3f;
  }

  .add-comments-single-page svg {
    margin-right: 0.5rem;
  }

  .single-page-tags-container {
    margin: 0;
    align-items: center;
  }

  .comment-desc-3 a,
  .comment-desc-4 a {
    font-size: 16px;
  }

  .single-page__user {
    margin: 0;
  }

  .best-comments {
    margin-top: 6rem;
  }

  .single-page__user-title p {
    font-size: 14px;
  }

  .single-page__user-title h3 {
    margin-bottom: 10px;
  }

  .single-page-tags-title {
    margin: 0;
  }

  .single-page-tags {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .single-page-tags a {
    font-size: 14px;
    padding: 3px 0.7rem;
    font-weight: 400;
    margin: 0 5px;
  }

  .comment-desc-3 p {
    font-size: 13.4px;
    font-weight: 500;
    margin: 1rem 0;
    color: #0c2785;
    line-height: 22px;
    text-align: center;
  }

  .single-page__prev-btn svg {
    transform: rotateY(180deg);
    margin-right: 5px;
  }

  .comment-desc-3 {
    max-width: 100%;
  }

  .single-page-line {
    margin: 2rem 0;
  }
  .comment-desc-1 {
    flex-direction: column;
    align-items: center;
  }
  .first-semicolon {
    transform: rotate(180deg);
  }
  .comment-desc-1 p {
    margin: 2rem auto;
  }
  .single-page-img-section-3 img {
    width: 100%;
    border-radius: 10px;
  }
  .single-page-img-section-3 {
    margin: 0;
  }
  .services-mobile-app {
    margin: 12rem 0 0 0 !important;
  }

  .services-a-video {
    margin-top: 1rem;
  }
  .services-rootix-company {
    margin: 5rem 0 7rem 0 !important;
  }
  .services-cart {
    box-shadow: 0 0 30px #bab8bf70;
    border-radius: 10px;
    margin: 0.6rem 0;
  }

  .services-cart__desc {
    color: #535353;
    font-size: 15px;
  }
  .services-cart__title h3 {
    font-size: 25px;
    color: #000;
    font-weight: 700;
    letter-spacing: -1px;
  }
  .register-res-notification {
    align-items: center;
    margin-top: 2rem;
    display: none;
  }

  .register-res-notification.active {
    display: flex;
  }

  .register-res-notification p {
    padding-right: 1rem;
    font-size: 16px;
    font-weight: 500;
  }

  .register-res-notification-success p {
    color: #00af80;
  }

  .register-res-notification-error p {
    color: red;
  }

  .register__input-container {
    padding-right: 1rem;
  }
  .res-menu__top-blog {
    border-bottom-color: #666666 !important;
  }
  .header-info-form {
    margin-top: 0;
  }
  .what-crypto-desc-2 {
    text-align: right !important;
  }
  .en-body .what-crypto-desc-2 {
    text-align: left !important;
  }
  .currencys {
    height: 95px !important;
  }
  .footer-logo h2 {
    font-size: 2rem !important;
  }

  .container-menu .ul-res-menu {
    position: fixed;
    width: 250px;
    top: 0;
    bottom: 0;
    left: -280px;
    background-color: #fff;
    -webkit-box-shadow: 15px 0px 5px rgba(0, 0, 0, 0.301);
    box-shadow: 15px 0px 5px rgba(0, 0, 0, 0.301);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-weight: 500;
    overflow: auto;
    z-index: 9999999;
    -webkit-transition: all 0.5s cubic-bezier(0.68, 0.55, 0.265, 1.55) !important;
    -o-transition: all 0.5s cubic-bezier(0.68, 0.55, 0.265, 1.55) !important;
    transition: all 0.5s cubic-bezier(0.68, 0.55, 0.265, 1.55) !important;
  }

  .container-menu .ul-res-menu.active {
    left: 0;
  }

  .en-body .container-menu .ul-res-menu {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    right: initial;
    left: -280px;
    -webkit-box-shadow: 15px 0px 5px rgba(0, 0, 0, 0.301);
    box-shadow: 15px 0px 5px rgba(0, 0, 0, 0.301);
  }

  .en-body .container-menu .ul-res-menu.active {
    left: 0;
  }

  .container-menu .ul-res-menu h2 {
    font-size: 1.4rem;
    letter-spacing: 1px;
    border-bottom: 1px solid #70707033;
    padding: 1rem 0 0.7rem 1.5rem;
    color: #1b274c;
    font-weight: 600;
  }

  .en-body .container-menu .ul-res-menu h2 {
    padding-left: 1.5rem;
    padding-right: 0;
  }

  .en-body .container-menu .ul-res-menu > li > a,
  .container-menu .ul-res-menu li button {
    padding-left: 1.5rem;
    padding-right: 0;
  }

  .en-body .container-menu .ul-res-menu li a svg,
  .en-body .container-menu .ul-res-menu li button svg {
    margin-right: 1.5rem;
    margin-left: 0 !important;
  }

  .en-body .home-index {
    margin-right: 0.9rem;
    margin-left: 0;
  }

  .en-body .under-menu {
    left: 10%;
    right: initial;
  }

  .en-body .under-menu li {
    padding-left: 1rem;
    padding-right: 0;
  }

  .container-menu .ul-res-menu > li {
    margin: 1rem 0;
  }

  .container-menu .ul-res-menu li a svg,
  .container-menu .ul-res-menu li button svg {
    font-size: 1.3rem;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    color: #1b274c;
    width: 20px;
    height: 20px;
  }

  .res-menu__home {
    width: 30px !important;
    height: 30px !important;
  }

  .container-menu .ul-res-menu > li > a,
  .container-menu .ul-res-menu li button {
    padding-right: 1.5rem;
    color: #1b274c;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 500;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 14px;
  }

  .container-menu .ul-res-menu li button {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    padding-left: 1.5rem;
  }

  .w-100 {
    width: 100%;
  }
  .position-re {
    position: relative;
  }
  .container-menu .ul-res-menu li button .down-arrow {
    font-size: 20px;
    -webkit-transition: all 0.3s cubic-bezier(0.68, 0.55, 0.265, 1.55) !important;
    -o-transition: all 0.3s cubic-bezier(0.68, 0.55, 0.265, 1.55) !important;
    transition: all 0.3s cubic-bezier(0.68, 0.55, 0.265, 1.55) !important;
  }

  .under-menu {
    position: absolute;
    top: 160%;
    -webkit-transition: all 0.3s cubic-bezier(0.68, 0.55, 0.265, 1.55) !important;
    -o-transition: all 0.3s cubic-bezier(0.68, 0.55, 0.265, 1.55) !important;
    transition: all 0.3s cubic-bezier(0.68, 0.55, 0.265, 1.55) !important;
    right: 10%;
  }

  .under-menu.active {
    top: 100%;
  }

  .main-top-menu {
    position: relative;
    overflow: hidden;
    height: 53px;
    -webkit-transition: all 0.3s cubic-bezier(0.68, 0.55, 0.265, 1.55) !important;
    -o-transition: all 0.3s cubic-bezier(0.68, 0.55, 0.265, 1.55) !important;
    transition: all 0.3s cubic-bezier(0.68, 0.55, 0.265, 1.55) !important;
    -webkit-box-align: start !important;
    -ms-flex-align: start !important;
    align-items: flex-start !important;
  }

  .main-top-menu.active {
    height: 165px;
  }

  .under-menu li a {
    color: #1b274c;
  }

  .under-menu li {
    list-style-type: circle;
    padding-right: 1.5rem;
    list-style-position: inside;
    margin: 21px 0;
  }

  .header-currency-informations .header-currency-information:last-child {
    display: none;
  }
  .feature {
    /* padding-right: 0rem; update */
  }
  .header {
    background-image: url(../images/res-header-background.png);
    padding-bottom: 20px;
  }

  .header-info__desc h1 {
    margin: 0 !important;
  }

  .header-info__desc h2 {
    margin: 1rem 0;
  }

  .header-info__desc h2:last-child {
    margin-bottom: 0 !important;
  }

  .header-btns {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 0 3rem 0 !important;
  }

  .header-currency-header-info h2 {
    display: none;
  }

  .header-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .header-currency-image {
    width: 50%;
  }

  .gold-title {
    display: inline;
  }

  .row-padding {
    padding-top: 4rem;
  }

  .app-title-2 {
    margin: 0 !important;
  }
  .auth-item {
    max-width: 100%;
    background-color: #70707041;
    border-radius: 10px;
    padding: 2rem 1rem;
    text-align: center;
  }

  .blog-container {
    margin: 0 auto 1rem auto;
  }
  .app-title {
    font-size: 2rem;
    color: #1d1f31;
    margin-bottom: 6rem;
  }

  .auth-item p {
    font-size: 13px;
  }

  .section {
    padding: 5rem;
  }

  .all-crypto-currency {
    border: none;
    border-right: 2px solid #707070;
    border-radius: 0;
    height: 25px !important;
    padding: 0 7px !important;
    font-size: 15px !important;
  }

  .en-body .all-crypto-currency {
    border-right: none;
    border-left: 2px solid #707070;
  }

  .all-crypto-currency svg {
    margin-right: 7px !important;
    height: 14px;
  }
  .header-currency-image .header-currency {
    width: 100%;
  }
  .currency-table td {
    font-size: 1rem;
  }

  .res-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-top: 2rem;
  }

  .res-menu__top {
    border-bottom: 1px solid #ffffff71;
    padding-bottom: 1rem;
  }

  .res-menu__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 1rem;
  }

  .res-menu__search {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    background-color: #ffffff59;
    padding: 0 0.7rem;
    border-radius: 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 1rem;
  }

  .en-body .res-menu__search {
    margin-left: 0;
    margin-right: 1rem;
  }

  .res-menu__search input {
    background-color: transparent;
    border: none;
    padding-right: 1rem;
    outline: none;
    width: 100%;
    color: #fff;
    height: 45px;
    font-family: inherit;
  }

  .en-body .res-menu__search input {
    padding-right: 0;
    padding-left: 1rem;
  }

  .res-menu__search input::-webkit-input-placeholder {
    color: #fff;
  }

  .res-menu__search input::-moz-placeholder {
    color: #fff;
  }

  .res-menu__search input:-ms-input-placeholder {
    color: #fff;
  }

  .res-menu__search input::-ms-input-placeholder {
    color: #fff;
  }

  .res-menu__search input::placeholder {
    color: #fff;
  }

  .res-menu__login {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    background-color: #ffffff59;
    height: 45px;
    padding: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    border-radius: 4px;
  }

  .res-menu__login svg {
    margin-left: 1rem;
  }

  .res-menu__logo {
    width: 70px;
  }

  .res-menu__bars {
    width: 50px;
    height: 32px;
  }
  .currency-right-title-2 {
    margin: 0 auto;
  }

  .currency-title {
    padding-left: 20px !important;
  }

  .currency-table {
    display: table;
  }

  .header-layer-2,
  .header-layer-3 {
    display: none;
  }

  .login-container {
    display: none !important;
  }

  .header nav > div {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
  }

  .header-info p {
    display: none;
  }

  .header-info h1,
  h2 {
    font-size: 2rem;
  }

  .res-menu__question-mark svg {
    width: 50px;
    height: 50px;
  }

  .section-background {
    background-image: none;
    background: #1b274c;
    height: auto;
    padding: 1rem 1.5rem 1rem 0;
  }

  .what-currency-info {
    padding: 0;
    padding-left: 2rem;
  }

  .crypto-cart img {
    width: 85px !important;
  }

  .currency-talk {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .owl-carts-container {
    overflow: hidden;
    width: 100%;
  }

  .crypto-cart {
    margin: 0 0 0 10px !important;
  }

  .what-currency-info .what-crypto-title,
  .what-crypto-title h2 {
    font-size: 1.3rem !important;
  }

  .what-currency-more-btn {
    width: auto;
    font-size: 15px;
  }

  .crypto-cart-desc h3 {
    font-size: 1.1rem;
    font-weight: 700;
  }

  .feature-title {
    margin: 8.5rem 0 3.5rem 0; /* update */
    font-size: 2rem;
    color: #1d1f31;
  }

  .main-feature {
    background-color: #70707041;
    /* update */
    border-radius: 10px;
    text-align: center;
    padding: 3rem 1rem; /* update */
    transform: scale(0.9); /* update */
  }

  .feature-img {
    width: 95% !important;
    height: 110px !important;
    margin: 0 auto 2rem auto;
  }

  .feature-info {
    height: auto;
  }

  .feature-info-title > h2,
  .feature-info-title > span {
    font-size: 1.3rem !important;
    display: block;
    text-align: center;
  }

  .feature-info p {
    font-size: 14px;
    margin: 1rem 0 1rem 0;
  }

  .mobile-images {
    margin: -180px 0 4rem 0;
  }

  .mobile-images img:first-child {
    margin: 0;
    width: 30%;
  }

  .mobile-app {
    padding: 0;
    padding-bottom: 2rem;
  }

  .feature {
    padding-bottom: 15rem;
  }

  .mobile-app .what-currency-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .mobile-app .what-currency-info .what-crypto-desc {
    max-width: 580px;
  }

  .mobile-app .what-crypto-title span {
    text-align: center;
    display: block;
  }

  .res-form-container {
    text-align: center;
  }

  .top-form-desc {
    max-width: 350px;
    margin: 2rem auto;
    color: #707070;
    font-weight: 500;
  }

  .res-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .res-form input,
  .res-form textarea {
    outline: none;
    border: 2px solid #70707075;
    font-family: inherit;
    border-radius: 5px;
    padding: 1rem;
    color: #70707075;
    margin: 0.5rem 0;
  }

  .res-form input::-webkit-input-placeholder,
  .res-form textarea::-webkit-input-placeholder {
    color: #70707075;
    font-weight: 600;
  }

  .res-form input::-moz-placeholder,
  .res-form textarea::-moz-placeholder {
    color: #70707075;
    font-weight: 600;
  }

  .res-form input:-ms-input-placeholder,
  .res-form textarea:-ms-input-placeholder {
    color: #70707075;
    font-weight: 600;
  }

  .res-form input::-ms-input-placeholder,
  .res-form textarea::-ms-input-placeholder {
    color: #70707075;
    font-weight: 600;
  }

  .res-form input::placeholder,
  .res-form textarea::placeholder {
    color: #70707075;
    font-weight: 600;
  }
  .res-form textarea {
    height: 250px;
  }

  footer {
    background: #1b274c;
  }

  .footer-row > div:first-child,
  .footer-row > div:nth-child(2) {
    margin-bottom: 2rem;
  }

  footer .social-networks .social-network {
    width: 55px;
    height: 55px;
    border-radius: 15px;
    margin: 0 0.4rem;
  }

  footer .footer-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    direction: ltr;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 2rem;
  }

  footer .footer-logo h2 {
    font-weight: 300;
  }

  footer .footer-logo h2:first-child {
    color: #f0a224;
  }
  footer .social-networks .social-network svg {
    width: 30px;
    height: 32px;
  }
  footer hr {
    display: none;
  }

  .footer-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .customer-title {
    font-size: 2rem;
  }
  .inf {
    display: none;
  }
  .owl-stage {
    padding-right: 0 !important;
  }

  .res-form__btn {
    width: auto;
    font-size: 1.2rem;
    margin: 2rem 0;
  }

  .header-currency-informations-container {
    padding: 2rem 0;
  }

  .auth-container {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .home-index {
    width: 27px;
    height: 27px;
    background-color: #1b274c;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1.2rem;
    margin-right: 1.5rem;
  }

  .home-index svg {
    margin: 0 !important;
    width: 15px !important;
    height: 15px !important;
  }
  .res-menu__top-form {
    border: 0;
  }

  .about-header-image-res img {
    width: 90%;
    display: block;
    margin: 0 auto;
  }

  .about-header-res {
    background-image: url(../images/about-us/res-header-back.png);
  }

  .about-header-info-res {
    margin: 4rem 0;
  }

  .about-header-info-res h1 {
    font-size: 40px;
    color: #fff;
    font-weight: 600;
    text-align: center;
  }

  .about-header-info-res h5 {
    font-size: 30px;
    color: #fff;
    font-weight: 400;
    text-align: center;
    margin: 1rem;
  }

  .history-title {
    font-size: 40px;
    text-align: center;
    margin-bottom: 4rem;
  }

  .history-descriptions {
    text-align: center;
    margin-top: 3rem;
  }

  .back-sec-3 {
    display: none;
  }

  .about-currency-title-res {
    text-align: center;
  }

  .about-currency-title-res h5 {
    color: #9a64f8;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 0 0 0 1rem;
    margin-bottom: 2rem;
    font-size: 40px;
    font-weight: 500;
  }

  .about-currency-title-res h2 {
    font-size: 40px;
    font-weight: 800;
  }

  .about-currency-descriptions {
    text-align: center;
  }

  .about-currency-descriptions h3 {
    font-size: 30px;
    color: #6b6b6b;
  }

  .about-btn {
    max-width: 180px;
  }
  .about-currency-btn-container a {
    margin: 0 auto;
  }

  .about-counter h3 {
    font-size: 24px;
  }

  .top-form-desc-2 {
    max-width: 100%;
  }

  .team-users-res__team-users-row-res {
    display: flex;
  }

  .flex-wrap {
    flex-wrap: wrap;
  }

  .team-users-res__user-res {
    max-width: 170px;
  }

  .team-users-res__user-res-2 {
    margin-bottom: 2rem;
  }

  .team-info {
    height: auto;
    text-align: center;
  }

  .about-currency,
  .rootix-team {
    padding: 0;
  }

  .history {
    padding-bottom: 0;
  }

  .rootix-company {
    margin: 0;
  }
  .team-users-res__user-title {
    background-color: #70707031;
    text-align: center;
    padding: 1rem;
  }

  .team-users-res__user-title h4 {
    color: #ff584e;
    font-size: 23px;
    font-weight: 500;
  }

  .team-users-res__user-title h5 {
    color: #000000dc;
    font-size: 15px;
    font-weight: 400;
  }

  .about-currency-title-res {
    margin-bottom: 2rem;
  }

  .about-top-desc {
    color: #181818cc !important;
    font-weight: 600 !important;
    font-size: 17px !important;
  }

  .about-video {
    width: 100%;
  }

  .counter-row-1 {
    padding: 5rem 0;
  }

  .header-info__desc h1 {
    font-weight: 800 !important;
  }

  .register-header-info {
    align-items: center !important;
  }

  .abcRioButtonContents {
    width: 100%;
    text-align: center;
  }

  .abcRioButtonIcon {
    padding: 7px 10px 0px 0rem !important;
  }

  .blog-page-top-slide__title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 1.3rem;
  }

  .blog-page-top-slide__info h1 {
    font-weight: 500;
    text-align: center;
    font-size: 1.2rem;
  }

  .blog-page-top-slide__info {
    padding: 1rem;
  }

  .blog-image-slide-container {
    margin-top: 2rem;
  }

  .blog-page-top-slide__title span {
    font-size: 15px;
    font-weight: 600;
  }

  .blog-page-top-slide-res .owl-dots {
    margin-top: -20px !important;
    position: relative;
  }

  .blog-page-line {
    border: none;
    border-bottom: 1px solid #666666;
    margin: 2rem 0;
  }

  .search-blog-res,
  .blog-res-filters-title-btn {
    box-shadow: 0 0 10px 1px #00000042;
    padding: 0rem 1rem;
    height: 40px;
    display: flex;
    align-items: center;
    margin: 1.5rem 0;
    border-radius: 4px;
  }

  .search-blog-res form {
    width: 100%;
    display: flex;
  }

  .search-blog-res form input {
    border: none;
    padding-right: 1rem;
    outline: none;
    transition: 0.5s ease;
    font-family: inherit;
    width: 100%;
    color: #000;
    font-size: 14px;
  }

  .search-blog-res form input::placeholder {
    color: #000;
    font-size: 14px;
  }

  .blog-res-filters__title {
    padding-right: 1rem;
  }

  .blog-res-filters__title span {
    font-size: 14px;
  }

  .blog-res-filter-container {
    display: flex;
    align-items: center;
  }

  .blog-res-filter {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
  }

  .blog-res-filter__title {
    width: 115px;
    display: flex;
    align-items: center;
  }

  .blog-res-filter__title span {
    padding-right: 12px;
  }

  .blog-res-filter__btns {
    display: flex;
    width: 70%;
    overflow-x: scroll;
    scroll-behavior: smooth;
    padding: 1rem 0;
    direction: ltr;
  }

  .blog-res-filter__btns::-webkit-scrollbar {
    display: none;
  }

  .blog-res-filter__btns-inner-2 {
    width: 400px;
  }
  .blog-res-filter__btns-inner {
    display: flex;
    align-items: center;
  }

  .blog-res-filter__btns-inner button {
    border-left: 2px solid #b0b0b0;
    width: 72px;
    text-align: center;
  }

  .arrow-blog-filter,
  .blog-res-filter__btns-inner button:last-child {
    padding-left: 0;
    border: none !important;
  }

  .main-news__info {
    margin-right: 10px;
    width: auto;
  }

  .main-news-res-image {
    width: 105px;
    height: 105px;
    border-radius: 5px;
  }

  .main-news-res-image-2 {
    width: 117px;
    height: 117px;
  }
  .main-news__title {
    font-size: 14px;
    line-height: 27px;
    color: #252525;
  }

  .new-news-title {
    color: #1d2a3b;
    font-weight: 600;
  }
  .main-news-2 {
    margin: 3.2rem 0;
  }
  .main-news__writer span {
    font-weight: 600;
    font-size: 13px;
    margin: 0;
  }

  .main-news__info-side-res {
    margin-right: 25px;
  }

  .main-news__info-side-res .main-news__title {
    font-size: 17px;
    font-weight: 600;
    color: #1d2a3b;
  }
  .main-news__writer span:first-child {
    padding-right: 10px;
    border-right: 1px solid #b5b5b5;
  }

  .main-news__writer span:last-child {
    padding-left: 10px;
  }

  .main-news {
    align-items: center;
  }

  .main-news__res-line {
    border: none;
    border-bottom: 2px solid #a9a9a983;
    margin: 1rem 0;
  }

  .main-news__writer-side span {
    border: none !important;
    padding: 0 !important;
  }

  .what-crypto-title-3 h2,
  .what-crypto-title-3 span {
    font-size: 1.3rem !important;
    font-weight: 800 !important;
  }

  .header-prices-responsive .res-menu__top {
    padding: 0;
    border: 0;
  }

  .header-prices-responsive {
    padding: 0;
  }
  .header-prices-responsive .res-menu {
    padding: 1rem 0;
  }
  .circle-chart h2 {
    font-size: 1.5rem;
  }
  .price-mobile-image {
    margin: 2rem 0;
  }

  .price-mobile-image img {
    width: 90% !important;
  }
  .what-currency-info-price {
    color: #000;
  }

  .prices-mobile-app {
    text-align: center;
  }

  .prices-what-crypto-desc {
    font-size: 14px !important;
  }

  .prices-mobile-app-res {
    margin: 5rem 0;
  }

  .prices-mobile-app-res .btn {
    height: 53px;
  }

  .bottom-price-menu {
    border-bottom: 1px solid #707070;
  }

  .res-menu-price__bottom > div {
    display: flex;
  }

  .res-menu-price__bottom > div h5 {
    color: #000;
    font-size: 14px;
  }

  .res-menu-price__bottom > div span {
    color: #707070;
    font-weight: 500;
    font-size: 14px;
  }
}

@media only screen and (max-width: 768px) {
  .prices-res-currency-table tr:first-child td:first-child .td-row {
    padding-right: 0.5rem;
  }
  .circle-chart h2 {
    font-size: 1.2rem;
  }
  .circle-chart {
    margin: 2rem 0;
  }
  .circle-chart__title {
    margin-bottom: 2rem;
  }

  .en-body .register-res-notification p {
    padding-left: 1rem;
    padding-right: 0;
  }

  .register-submit-btns .register-submit-btns__link {
    width: 100% !important;
  }
  .about-title-res,
  .about-currency-title-res h2 {
    font-size: 30px !important;
  }

  .about-top-desc {
    font-size: 15px !important;
  }

  .about-currency-descriptions h3 {
    font-size: 23px;
  }

  .feature-info-title > h2,
  .feature-info-title > span {
    font-size: 18px !important;
  }
  .res-menu__login svg {
    width: 17px;
  }
  .what-currency-info .what-crypto-title,
  .what-crypto-title h2 {
    font-size: 18px !important;
  }
  .currency-talk {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  .crypto-cart img {
    width: 90px !important;
    height: 90px !important;
  }
  .customer {
    margin: 1rem 0;
    display: block;
    padding: 2rem 2rem 0rem 3rem;
  }

  .customer p {
    font-size: 12px;
    max-width: 100%;
    margin: 2rem 0 0 0;
    text-align: center;
  }
  .customer-signature {
    width: 100px;
    margin: 0 auto;
    display: block;
  }

  .what-currency-info h5 {
    font-size: 15px;
  }
  .app-title {
    margin-bottom: 2rem;
  }
  .row-padding {
    padding-top: 2rem;
  }
  .feature-title {
    margin-bottom: 2rem;
  }
  .header-info__desc h1,
  .header-info__desc h2 {
    font-size: 23px !important;
    font-weight: 500;
  }
  .currency-title .currency-right-title h5 {
    font-weight: 500;
    font-size: 16px;
  }

  .currency-title img {
    width: 24px;
    height: 24px;
  }

  .currency-last-price {
    font-size: 17px !important;
    font-weight: 700 !important;
  }

  .currency-table-3 .currency-present-change {
    background-color: transparent;
    font-size: 16px !important;
    padding: 0;
  }
  .header-currency-desc h4,
  .header-currency-price-container h4 {
    font-size: 16px !important;
  }

  .what-currency-info .what-crypto-desc {
    font-size: 13px;
    text-align: center;
  }
  .notifications__notification {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .notifications__notification a {
    height: 22px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 11px;
  }

  .notifications__notification a svg {
    margin-right: 10px;
  }
  .header-info h1,
  h2,
  .app-title,
  .feature-title,
  .customer-title {
    font-size: 1.3rem;
    font-weight: 600;
  }
  .last-price-title {
    text-align: right;
    width: 32%;
  }
  .currency-last-price {
    text-align: right !important;
  }
  .change-price-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  .name-currency-title {
    display: block;
  }

  .persent-change {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .currency-right-title {
    margin: 0 !important;
  }
  .currency-title {
    padding: 1rem 0 !important;
  }
  .currency-table tr {
    text-align: right;
  }
  .en-body .currency-table tr {
    text-align: left;
  }
  .currency-last-price {
    text-align: center;
  }

  .customer {
    -webkit-transform: scale(0.85);
    -ms-transform: scale(0.85);
    transform: scale(0.85);
  }
  .mobile-images img:first-child {
    width: 190px;
  }
  .header-currency-price-container .header-currency-price {
    font-size: 2rem;
  }
  .currencys {
    height: 80px !important;
  }
  .header-currency-informations {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .header-currency-information {
    margin-bottom: 2rem;
  }
  .header-currency-informations .header-currency-information:last-child {
    display: block;
  }
  .currency-table tr:nth-child(odd) {
    background-color: transparent;
  }
  .footer-row > div:first-child,
  .footer-row > div:nth-child(3) {
    display: none;
  }

  .footer-item {
    display: block;
  }

  .footer-quick-access {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  footer .footer-menu li {
    margin: 0 0 2.5rem 0;
  }

  footer .footer-title {
    margin-bottom: 4rem;
    font-size: 1.5rem;
  }

  footer .footer-menu a {
    font-size: 16px;
  }

  footer .footer-bottom h5 {
    font-size: 17px;
    font-weight: 400 !important;
    margin: 0.5rem;
  }

  .footer-quick-access .footer-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  footer {
    padding: 2rem 0 1rem 0;
  }

  .inf {
    display: block;
  }

  .header-info {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .header-info__desc h1,
  .header-info__desc h2 {
    font-size: 1.3rem;
  }

  .header-btns a:first-child {
    width: 50%;
    margin-left: 10px !important;
  }

  .en-body .header-btns a:first-child {
    margin-left: 0 !important;
    margin-right: 10px !important;
  }

  .header-btns a:last-child {
    width: 50%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    letter-spacing: -1;
  }

  .header-btns a:last-child i {
    display: none;
  }

  .btn {
    font-size: 15px;
  }

  .currency-table-3 tr td:last-child {
    display: none;
  }

  .section {
    padding: 5rem 0;
  }

  .what-currency-info .what-crypto-desc {
    margin-bottom: 2rem;
  }

  .customer {
    height: auto !important;
  }

  .header-currency-price {
    font-size: 24px !important;
  }

  .auth-item span {
    font-size: 13px;
  }

  .auth-item img {
    width: 100px;
    height: 93px;
  }

  .auth-container {
    justify-content: space-between;
  }

  .auth-item {
    width: 47%;
    padding: 1rem 0 5px 0;
  }

  .crypto-cart p {
    font-size: 14px;
  }

  .res-menu__login {
    font-size: 13px;
  }

  /* register */
  .register-mark-btns-responsive {
    flex-direction: column;
  }

  .abcRioButton {
    border-radius: 3px !important;
    height: 50px !important;
  }

  .g-signin2,
  .register-facebook-btn {
    width: 100%;
    margin: 0.5rem 0;
    border-radius: 3px !important;
    height: 50px !important;
  }

  .register-submit-btns {
    flex-direction: column;
  }

  .register-submit-btns button,
  .register-submit-btns a {
    width: 100%;
    border-radius: 3px !important;
    margin: 0.5rem 0;
    height: 50px !important;
  }

  .register__input label {
    width: 25%;
    font-size: 15px;
    font-weight: 400;
  }

  .en-body .register__input {
    flex-wrap: wrap;
  }

  .en-body .register__input label {
    width: auto !important;
  }

  .register__input {
    padding-right: 0;
  }

  .forgot-password a {
    font-size: 13px;
  }

  .register-form-container__input-container {
    padding: 1rem;
  }
  /* register */

  .history-descriptions p {
    font-size: 14px;
  }

  .what-crypto-title-3 h2,
  .what-crypto-title-3 span {
    font-size: 1.3rem !important;
    font-weight: 800 !important;
  }
}

@media only screen and (max-width: 650px) {
  .res-menu__bars {
    width: 40px;
    height: 40px;
  }

  .res-menu__logo {
    width: 50px;
  }

  .res-menu__question-mark svg {
    width: 45px;
    height: 45px;
  }

  .what-crypto-title-3 h2,
  .what-crypto-title-3 span {
    font-size: 1.3rem !important;
    font-weight: 800 !important;
  }
}

@media only screen and (max-width: 576px) {
  .header-info__desc h1,
  .header-info__desc h2 {
    font-size: 1rem;
  }
  .blog-container {
    width: 100%;
  }

  .form-img img {
    width: 100%;
  }

  .team-users-res__user-image img {
    width: 100%;
  }

  .team-users-res__user-res {
    max-width: 100%;
  }

  .about-header-info-res h5 {
    font-size: 22px;
  }

  .about-header-info-res h1 {
    font-size: 25px;
    letter-spacing: -1px;
  }

  .go-down-container {
    height: 15%;
  }

  .go-down {
    width: 45px;
  }

  .about-header-info-res {
    margin: 2rem 9;
  }

  .history {
    padding: 3rem 0 0 0;
  }

  .about-title-res {
    color: #2f2f2f !important;
    font-size: 21px !important;
    margin-bottom: 2rem !important;
  }

  .service-move-title-res {
    margin-bottom: 1rem !important;
    font-size: 22px !important;
  }

  .about-currency-title-res h2 {
    font-size: 21px !important;
    color: #2f2f2f;
  }

  .rootix-company-line {
    margin: 3rem 0;
  }

  .about-currency-title-res h5 {
    font-size: 19px;
    margin-bottom: 1rem;
  }

  .about-currency-descriptions h3 {
    font-size: 20px;
    letter-spacing: -1px;
    margin: 2.5rem 0;
  }

  .team-info p {
    margin: 0 0 2rem 0;
  }

  .about-counter h3 {
    font-size: 22px;
    margin-bottom: 0.5rem;
  }

  .about-counter {
    margin: 1rem 0;
  }

  .counter-row-1 {
    padding: 1rem 0;
  }

  .team-users-res__user-title h4 {
    font-size: 18px;
    font-weight: 600;
  }

  .what-crypto-title-3 h2,
  .what-crypto-title-3 span {
    font-size: 1.3rem !important;
    font-weight: 800 !important;
  }
}

@media only screen and (max-width: 550px) {
  .header-info__desc h1,
  .header-info__desc h2 {
    font-size: 17px !important;
    font-weight: 500;
  }

  .loader img {
    width: 100%;
  }

  .res-menu__top {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .res-menu__bars {
    width: 30px;
    height: 30px;
  }

  .res-menu__logo {
    width: 40px;
  }

  .res-menu__question-mark svg {
    width: 35px;
    height: 35px;
  }
  .what-currency-info .what-crypto-title,
  .what-crypto-title h2 {
    font-size: 0.9rem !important;
  }

  .btn {
    padding: 0;
  }
  .what-currency-info {
    padding-left: 12px;
  }

  .what-currency-info .what-crypto-title {
    margin: 0.9rem 0 !important;
  }

  .what-crypto-title-3 h2,
  .what-crypto-title-3 span {
    font-size: 1.3rem !important;
    font-weight: 800 !important;
  }

  .what-crypto-desc-2 p {
    line-height: 15px;
  }

  .what-currency-info .what-crypto-desc {
    margin-bottom: 1rem !important;
  }

  .what-crypto-desc-2 p {
    display: inline;
  }

  .what-currency-info .what-crypto-title {
    margin: 0.5rem 0 !important;
  }
}

@media only screen and (max-width: 470px) {
  .auth-item {
    margin: 1rem 0;
  }

  .header-btns a {
    width: 100% !important;
    margin: 1rem 0 !important;
  }

  .information-ramz {
    width: 98%;
  }

  .register__input label {
    width: 80px;
  }

  .what-currency-info .what-crypto-desc {
    font-size: 12px;
  }

  .what-crypto-title-3 h2,
  .what-crypto-title-3 span {
    font-size: 1.3rem !important;
    font-weight: 800 !important;
  }

  .feature-img {
    width: 77% !important;
  }

  .price-currency-present-change {
    width: 100% !important;
  }
}

@media only screen and (max-width: 400px) {
  .what-currency-info .what-crypto-title,
  .what-crypto-title h2 {
    font-size: 0.9rem !important;
  }

  .what-currency-info .what-crypto-desc {
    margin-bottom: 1rem;
  }

  .what-crypto-title-3 h2,
  .what-crypto-title-3 span {
    font-size: 1.3rem !important;
    font-weight: 800 !important;
  }
}

@media only screen and (max-width: 390px) {
  .res-currency-details-prices__mein-price {
    font-size: 33px;
  }
}

@media only screen and (max-width: 380px) {
  .information-ramz {
    width: 101%;
    padding-left: 10px;
  }

  .share-market img {
    width: 8vw;
  }
}
@media only screen and (max-width: 370px) {
  .feature-info-title > h2,
  .feature-info-title > span {
    font-size: 1.1rem !important;
  }

  .feature-info p {
    font-size: 13px;
  }

  .download-btns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .download-btns button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin: 1rem 0;
  }
  footer .footer-title {
    font-size: 1.2rem;
  }

  .footer-rootix-menu-item {
    width: 130px;
  }

  .prices-res-currency-table tr:first-child td:first-child .td-row {
    padding-right: 0rem;
  }

  .what-crypto-desc-2 p:nth-last-child(2) {
    display: none;
  }

  .what-crypto-desc-2 p {
    line-height: 18px;
  }
}

@media only screen and (max-width: 360px) {
  .header-currency-informations {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .header-btns {
    display: block;
  }

  .currency-title .currency-right-title h5, .currency-doloar-price h5 {
    font-size: 13px;
  }

  .res-currency-details-prices__mein-price {
    font-size: 30px;
  }
  .selected-currency {
    width: 104.5%;
  }

  .comment-info-res {
    flex-wrap: wrap;
  }

  .what-crypto-title-3 h2,
  .what-crypto-title-3 span {
    font-size: 1rem !important;
    font-weight: 800 !important;
  }
}

@media only screen and (max-width: 340px) {
  .res-currency-details-prices__mein-price {
    font-size: 25px;
  }
  .res-currency-details-prices__mein-price span {
    font-size: 17px;
  }
  .selected-currency {
    width: 104.5%;
  }
}
@media only screen and (max-width: 335px) {
  footer .footer-bottom h5 {
    font-size: 15px !important;
  }

  footer .footer-menu a {
    font-size: 14px !important;
  }

  .footer-rootix-menu-item {
    width: 112px !important;
  }

  .res-currency-details-prices-info {
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 311px) {
  footer .footer-title {
    font-size: 1rem;
  }
}
