// Core variables and mixins
@import "../../bootstrap/functions";
@import "../../bootstrap/mixins";

// Core variables and mixins overrides
@import "../../core/variables/variables";
@import "../../bootstrap/variables";

// Overrides user-old variable
@import "../../core/variables/components-variables";


/********* CONTEXT MENU *********/

.context-menu-list{
  width: 248px;
  .context-menu-item{
    padding: .6rem 2rem;
    &:not(:last-child){
      border-bottom: 1px solid $gray-300;
    }
  }
}
